<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Photo Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>

<body>

<header th:replace="fragments :: header"></header>

<div class="container my-5">

  <h1 class="text-center">Photo Gallery</h1>
  
  <div class="row">
  
    <div class="col-md-4" th:each="photo : ${photos}">
      <div class="thumbnail">
        <img th:src="@{${photo.url}}" alt="Image" class="img-fluid">
        <div class="caption">
          <h3 th:text="${photo.title}">Photo Title</h3>
        </div>
      </div>
    </div>

  </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>